
html {
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
	padding: 0;
	margin: 0;
}

.float-left { float: left;}
.float-right { float: right; }

#wrapper-all {
	overflow: auto;
}

::selection {
  background: grey; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: grey; /* Gecko Browsers */
}

/*header*/

#header, #header-content, #ftr-content-wrapper, .home-banner-content, .banner-item{
	overflow: auto;
	height: auto;
}
#header {
	position: relative;
	overflow: visible;
	/*z-index: 999;*/
	box-shadow: #3E4048 0 0 10px;
	/*background-image: url("../img/texture-header.png");*/
}
.blue-banner-line {
	width: 100%;
	height: 8px;
	background-color: #3F61A1;
}

.red-banner-line {
	width: 100%;
	height: 8px;
	background-color: #ED3626;
	/*position: fixed;*/
}

#header-content {
	margin: 0 auto;
	width: 100%;
	max-width: 1450px;
	box-sizing: border-box;
	padding: 0px 0px 0px 25px;
}

#logo-image-div {
	padding: 10px 0px 6px 0px;
}

#nav-links {
height: 98px;
padding-right: 25px;
/*background-image: url("../img/texture-header.png");*/
}

/*.nav-btn {
	color: white;
	height: 38px;
	width: auto;
	min-width: 100px;
	padding: 8px 22px 8px 22px;
	background-color: #3F61A1;
	text-transform: uppercase;
	font-size: 14px;
	font-family: Roboto;
	border: none;
	border-radius: 10px;
	margin-right: 5px;
	margin-top: 30px;
	font-weight: 500;
	transition: all 0.1s ease-in;
	-webkit-box-shadow: inset 0px -5px 20px 0px rgba(0,0,0,0.16), inset 0px 4px 20px 0px rgba(255, 255, 255, 0.123);
    -moz-box-shadow: inset 0px -5px 20px 0px rgba(0,0,0,0.16), inset 0px 4px 20px 0px rgba(255, 255, 255, 0.23);
    box-shadow: inset 0px -5px 20px 0px rgba(0,0,0,0.16), inset 0px 4px 20px 0px rgba(255, 255, 255, 0.23);
}*/
.nav-btn {
	color: black;
	height: 30px;
	width: auto;
	min-width: 100px;
	padding: 1px 24px 1px 24px;
	background-color: white;
	text-transform: uppercase;
	font-size: 15px;
	font-family: Roboto;
	border: none;
	border-radius: 0px;
	margin-right: 5px;
	margin-top: 36px;
	font-weight: 500;
	transition: all 0.1s ease-in;
	border-left: solid 4px #3F61A1;
}

.nav-btn:hover{
	cursor: pointer;
	color: #ED3626;
	border-left: solid 4px #ED3626;
	/*background-color: #3F61A1;*/
	border-radius: 0px 3px 3px 0px;

}

.btn-active {
	color: #ED3626;
	border-left: solid 4px #ED3626;

}

.get-in-touch {
	margin-right:24px;
	width: 100px;
	font-size: 22px;
}


#email-us-header{
	text-transform: uppercase;
	padding: 6px 20px 6px 20px;
	border-radius: 16px;
	border: 1px solid white;
	font-family: Roboto;
	font-weight: 300;
	font-size: 16px;
	transition: all 0.1s ease-in;
}

#email-us-header:hover{
	color:black;
	background-color:white;
	cursor: pointer;
}

.margin-b-50{
	margin-bottom: 50px;
}



/*main content*/

#main-content {
	width: 100%;
	overflow: hidden;
	background-image: url("../img/banner-home2.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: top left; 
	background-color: black;
	color: white;
	font-family: Roboto Condensed;
    z-index: -2;
-webkit-box-shadow: inset 0px -1px 75px 0px rgba(0,0,0,0.35);
-moz-box-shadow: inset 0px -1px 75px 0px rgba(0,0,0,0.35);
box-shadow: inset 0px -1px 75px 0px rgba(0,0,0,0.35);
}

#message-box-wrapper{
	margin: 0 auto;
	width: 100%;
	max-width: 1435px;
	padding: 85px 0px 175px 108px;
}

.red-pointer-home {
    width: 7px;
    height: 34px;
    position: relative;
    top: 68px;
    left: -20px;
	background-color: #ED3626;
}

#home-message-box{
	max-width: 645px;
	/*background-color: blue;*/
}

h1 {
	line-height: 45px;
	font-size: 42px;
	font-weight: 600;
	padding-bottom:20px;
}
h2 {
	font-size: 27px;
	font-weight: 200;
}

/*red banners*/
.border-top {
	height:0px;
	width:100%;
	border-bottom: 1px dashed #C63B2B;
}
.border-bottom {
	height:0px;
	width:100%;
	border-bottom: 1px dashed #C63B2B;

}
.margin-top-fix {
	margin-top:-2px;
}
.margin-btm-fix {
	margin-top:-1px;
}

.red-banner {
	opacity: 1;
	width: 100%;
	position: relative;
	z-index: 10; 

}

.red-banner-o{
background-image: url("../img/red-texture.png");
 height: 265px;
 color:white;
 overflow: hidden;
-webkit-box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.23), inset 0px -4px 20px 0px rgba(255, 255, 255, 0.14);
    -moz-box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.23), inset 0px -4px 20px 0px rgba(255, 255, 255, 0.14);
    box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.23), inset 0px -4px 20px 0px rgba(255, 255, 255, 0.14);
}

.home-banner-content {
	width:1296px;
	margin: 0 auto;
    padding: 50px 0px 0px 0px;
    font-family: Roboto Condensed;
    font-weight: 500;
    font-size: 19px;
    height: 220px;
}

.banner-item {
	display: inline-block;
	width: 30%;
	max-width: 265px;
	/*height: auto;*/
	margin-right: 55px;
}


.icon-home {
	padding-top: 2px;
	padding-right: 14px;
	font-size: 44px;
	height: 200px;
}

.header-banner-item {
	margin-top: 7px;
}

.info-banner {
	font-weight: 500;
}

/*main content 2*/

#second-main-content {
	width: 100%;
	height: 950px;
	overflow: hidden;
	background-image: url("../img/second-banner-home.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom; 
	background-color: black;
	color: white;
	font-family: Roboto Condensed;
    -webkit-box-shadow: inset 0px -1px 75px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: inset 0px -1px 75px 0px rgba(0,0,0,0.35);
	box-shadow: inset 0px -1px 75px 0px rgba(0,0,0,0.35);
    z-index: -2;
}

.second-banner-header {
	padding-top: 150px;
	margin: 0 auto;
	font-size: 40px;
	width: 700px;
	text-align: center;
	font-weight: 600;
}

.second-banner-subheader {
	padding-top: 55px;
	margin: 0 auto;
	font-size: 28px;
	width: 500px;
	text-align: center;
	font-weight: 200;
}

.features-itembox {
	padding-top: 100px;
	margin: 0 auto;
	font-size: 24px;
	width: 1400px;
	text-align: center;
	font-weight: 200;
	height: 350px;
}

.feature-item {
	 vertical-align:top;
	display: inline-block;
	width: 250px;
	margin-right: 20px;
	margin-left:20px;

}

.icon-feature {
	margin: 0 auto;
	width: 90px;
	height:90px;
	font-size:50px;
	border-radius: 50px;
	border: solid 1px rgba(255,255,255, 0.3);
	background-color: rgba(255,255,255, 0.03);
	overflow: hidden;
}
.icon-feature i{
margin-top: 18px;
}

.margin-check{
margin-top: 22px!important;
margin-right: -5px;
}
.margin-storage{
margin-top: 23px!important;
/*font-size:px!important;*/
}
.margin-truck{
margin-right: 5px;
}

.feature-title, .feature-desc {
	font-family: Roboto;
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
	/*background-color: blue;*/
}
.feature-desc{
	text-transform: initial;
	font-weight: 300;
	line-height: 26px;
}

#feature-button-footer {
	height: 100px;
	/*padding-top:px;*/
	width:300px;
	margin: 0 auto;
	text-align: center;
}

#feature-services-button{
	text-transform: uppercase;
	padding: 9px 34px 9px 34px;
	border-radius: 2px;
	border: 1px solid white;
	font-family: Roboto;
	font-weight: 300;
	font-size: 16px;
	transition: all 0.1s ease-in;
	width: 100px;
	margin: 0 auto;
}

#feature-services-button:hover{
	color:black;
	background-color:white;
	cursor: pointer;
}

.second-banner {
	text-align: center;
	font-size: 28px;
	color: white;
}
.second-banner-msg{
	font-size: 24px;
}

.banner-button{
	text-transform: uppercase;
	padding: 9px 34px 9px 34px;
	border-radius: 2px;
	border: 1px solid white;
	font-family: Roboto;
	font-weight: 300;
	font-size: 16px;
	transition: all 0.1s ease-in;
	width: 100px;
	margin: 0 auto;
	margin-left: 5px;
	margin-right: 5px;
}

.banner-button:hover{

	color:black;
	background-color:white;
	cursor: pointer;
}

/*footer*/

#footer {
	width: 100%;
	background-color: #35363D;
	color: #898A8F;
	font-family: Roboto;
	font-weight: 200;
	font-size: 16px;
}

#ftr-content-wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1435px;
	padding: 84px 100px 50px 100px;
}

.ftr-header{
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: 500;
}

.footer-spacer {
	width:100%;
	height: 1px;
	background-color: #898A8F;
	opacity: 0.5;
	border: none; 
	margin-top: 24px;
	margin-bottom: 24px;
}

.ftr-item {
	min-width: 200px;
	margin-right: 55px;
}

.hr-copyright {
		margin-top: 48px;
	margin-bottom: 24px;
}

#ftr-copyright {
	width: 100%;
		letter-spacing: 2px;
}
.ftr-icon{
	    min-width: 150px;
margin-right: 0px;
}

.about-me{
			letter-spacing: 0px;
}